@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

body, h1 {
    margin:0;
}

.container {
    display:flex;
    flex-direction:column;
    min-height:100vh; 
    /* background-color:darkcyan; */
}

.container > header {
    /* background-color:red; */
    flex-grow:0;
}

/* 콘텐트 시작 */
.container > .content {
    display:flex;
    flex-direction:column;
    flex-grow:1; 
}

.container > .content > .info {
    /* background-color: saddlebrown; */

    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction:column;
    
    flex-grow:0;
    padding: 20px;

    border-bottom: 1px solid #e5e5e5;

}

/* .container > .content > .info > .info-text{
    background-color: rebeccapurple;
    display:flex;
    flex-grow:0;
    padding: 0px;
    margin: 0;
} */

.container > .content > .info > .info-text > h2{
    /* background-color: violet; */
    flex-grow:0;
    padding: 0px;
    margin: 0;
    font-size: 1.2rem;

}

.content > .info > img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

  
.container > .content > .score {
    /* background-color:gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:0;
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
    /* max-width: 400px; */
}

.container > .content > .score > h2 {
    /* background-color: blue;  */
    flex-grow:0;
    padding: 10px;
    margin: 0;
}

.container > .content > .complete-list {
    display:flex;
    flex-direction:column;
    align-items:center;
    /* background-color:pink; */
    flex-grow:2;
}

.container > .content > .complete-list > ul {
    display:grid;
}

.container > .content > .complete-list > ul > li {
    display: flex;
}

.container > .content > .complete-list > ul > li > div {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.container > .content > .complete-list > ul > li > div > img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.container > .content > .complete-list > ul > li > div > .item-name {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

/* 콘텐트 끝 */

.container > footer {
    flex-grow:0;
    /* background-color:green; */
    display:flex;
    justify-content:center;
}